<div class="contentContainer cardWrapper">
    <div class="newsCard md-whiteframe-2dp" ng-repeat="entry in allNews | orderBy:'-date'">

        <div class="cardTitleWrapper">
            <span class="cardTitle">{{entry.headline}}</span>
        </div>
        <div class="subtitleWrapper">
            <span class="cardSubTitle">{{entry.subheadline}}</span>
        </div>
        <div class="cardContent">{{entry.content}}</div>
        <div class="cardImages">
            <img ng-repeat="image in entry.images" ng-src="{{image}}" class="newsImage md-whiteframe-3dp" ng-click="showImage($event, image, $parent.$index, $index)">
        </div>
    </div>
</div>