<div layout="row">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-lg')">
        <div class="overlay"></div>
        <div class="logoWrapper">

            <img class="lpkLogo" src="/assets/img/lpk_logo.png">

        </div>
        <div class="menuItems">

            <div class="menuItem" ng-class="{ 'selected': item.selected }" ng-repeat="(key, item) in menuItems" ng-click="goTo(item.state, key)">
                <span class="itemText" >{{item.text}}</span>
            </div>

        </div>

        <div class="sideNavFooter">
            <div class="footerItem" ng-click="goTo('home.intern', key)">
                <span class="itemText">Intern</span>
            </div>
            <div class="footerItem" ng-click="goTo('home.impressum', key)">
                <span class="itemText">Impressum</span>
            </div>
        </div>
    </md-sidenav>
    <md-content ng-cloak md-swipe-right="openLeftMenu()">
        <md-button class="md-fab menu-button" ng-click="openLeftMenu()" ng-hide="isLarge()">
            <i class="fa fa-bars fa-2x"></i>
        </md-button>

        <div ui-view="mainContent" class="mainContent full-height">

        </div>

    </md-content>
</div>