<div class="contentContainer">

    <div class="titleWrapper">
        <span class="title">Mitglied werden</span>
    </div>

    <div class="content">
        Der Mitgliedsausschuss führt auch das aktuelle Adressenverzeichnis der Mitglieder. Änderungen bitte daher direkt an ihn.
        Er entscheidet auch über die Aufnahme neuer Mitglieder. <br>
        Interessenten melden sich bitte unter der folgenden E-Mail-Adresse:<br>
        <br>
        <a href="mailto:mitgliedsausschuss@lpk-brandenburg.de" class="linkStyle">mitgliedsausschuss@lpk-brandenburg.de</a>
        <br><br>
        <md-button class="md-raised md-primary standardButton" ng-click="antrag()">Antrag herunterladen</md-button>
    </div>

</div>