.paragraphWrapper
  text-align left

  .paragraphHeader
    padding 0 1rem
    color secondaryColor
    font-weight 500
    font-size 1.5rem
    margin 1rem 0

  .paragraphContent
    padding 0 1rem
    line-height 1.5rem

.generalActivities
  margin-bottom 2rem

/*Iphone*/
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),
                        (min-device-width : 320px)  and (max-device-width : 568px),
                        (min-device-width : 320px)  and (max-device-width : 480px)

  .paragraphWrapper
    text-align center
    margin 2rem 8%

    .paragraphHeader
      padding 1rem 1rem
      font-size 3.5rem
      margin 3rem 0

    .paragraphContent
      padding 0 1rem
      line-height 4rem
      font-size 3rem