.cardWrapper
  display block

.newsCard
  margin 1rem 10%
  display inline-block
  width 80%
  padding 1rem
  font-size 1rem

  .cardTitleWrapper
    padding-bottom 1rem

    .cardTitle
      color secondaryColor
      font-weight 500
      font-size 1.3rem

  .subtitleWrapper
    padding-bottom 1.2rem

    .cardSubtitle
      color black
      font-weight 500

  .cardImages
    padding-top 0.5rem
    display flex

    .newsImage
      height 6rem
      margin-right 1rem
      margin-bottom 1rem

    &:hover
      cursor pointer
