.contentContainer
  width 100%
  text-align left

  .titleWrapper
    padding-top 1rem
    padding-left 2rem
    width 100%
    text-align left
    /*background-color secondaryColor*/
    color secondaryColor

    .title
      font-size 2.5rem

  .content
    padding-left 2rem
    padding-top 2rem

md-content
  width 100%


/*Iphone*/
@media only screen  and (min-device-width : 375px)  and (max-device-width : 667px)

  .contentContainer
    width 90%

    .titleWrapper
      padding-left 2rem
      padding-right 3rem
      padding-top 3rem
      width 100%
      text-align right

      .title
        font-size 5rem
        text-align right

    .content
      padding-left 2rem
      font-size 3rem
      padding-top 5rem