.contentContainer
  width 60%
  text-align left
  padding-left 20%
  padding-right 20%
  padding-top 15rem
  position: relative

  .titleWrapper
    padding-top 1rem
    width 100%
    text-align left
    /*background-color secondaryColor*/
    color secondaryColor

    .title
      font-size 2.5rem

  .content
    padding-top 2rem

md-content
  width 100%

/*.mainContent
  height 100%
  margin-top -15rem
  padding-top 15rem
  width 100%
  overflow-y auto*/

/*Iphone*/
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),
                        (min-device-width : 320px)  and (max-device-width : 568px),
                        (min-device-width : 320px)  and (max-device-width : 480px)

  .mainContent
    height auto
    margin-top 3rem
    padding-top 0

  .contentContainer
    height 100%
    width 100%
    padding 0
    padding-top 0

    .titleWrapper
      padding-left 2rem
      padding-right 3rem
      padding-top 3rem
      width 100%
      text-align right

      .title
        font-size 5rem
        text-align right

    .content
      padding-left 2rem
      font-size 3rem
      padding-top 5rem