.landingPageImage {
  width: 100%;
}
.imageWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-color: rgba(0,0,0,0.13);
}
.imageWrapper .filterLayer {
  height: 100%;
  width: 100%;
}
nav {
  position: relative;
  z-index: 99;
  opacity: 0.9;
}
.sectionHeader {
  font-size: 2rem;
  font-weight: 800;
  color: #81c784;
  padding: 1rem;
}
.sectionContent {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #81c784;
}
.mailAddress {
  color: #545454;
  font-weight: normal;
}
.projectCard {
  padding: 0.5rem !important;
}
.projectCard div {
  background-color: #fff;
}
.card-image {
  position: relative;
}
.card-image .logo {
  position: absolute !important;
  top: 0 !important;
  width: 60% !important;
  height: auto;
  margin: auto;
}
.dummy {
  height: 1rem;
}
.skillItemIcon {
  margin: 1rem auto;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #545454;
  position: relative;
  transition: all 0.8s;
}
.skillItemIcon img {
  max-height: 3.4rem;
  width: 3.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.7rem;
  margin-left: -1.7rem;
  transition: all 0.8s;
}
.skillItemIcon span {
  line-height: 5rem;
  max-width: 5rem;
  font-size: 1rem;
  color: #545454;
  display: none;
}
.skillItemIcon:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}
.skillItemIcon:hover > img {
  opacity: 0;
}
.skillItemIcon:hover > span {
  display: inherit;
  transition: all 1s;
}
main {
  height: 90%;
/*margin-top -84px*/
  background: url("../img/bg_landingPage.jpg");
  background-size: cover;
  position: relative;
}
main .section {
  width: 100%;
  margin-bottom: 0;
}
main .projects {
  background-color: #545454;
  color: #fff;
}
main .welcomeSection {
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
  position: relative;
}
main .welcomeSection .greeting {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  font-size: 5rem;
  color: #fff;
}
.text-left {
  text-align: left;
}
.footerTop {
  text-align: right;
}
.aboutMe {
  padding-bottom: 8rem;
}
md-sidenav {
  height: 100%;
  background-image: url("/assets/img/sidenavBg.png");
  background-size: cover;
  position: fixed;
}
md-sidenav .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  z-index: -1;
  opacity: 0.3;
}
.menu-button {
  background-color: #c43426 !important;
  position: fixed;
  top: 10;
  left: 10;
}
.mobileTitle {
  position: relative;
}
md-content {
  overflow: inherit;
}
.logoWrapper {
  margin-top: 1rem;
}
.logoWrapper .lpkLogo {
  width: 10rem;
}
.menuItems {
  margin-top: 2rem;
}
.menuItems .menuItem {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  padding-left: 2rem;
  text-align: left;
  transition: background-color 200ms linear;
}
.menuItems .menuItem:hover {
  background-color: rgba(25,25,25,0.55);
  cursor: pointer;
}
.menuItems .menuItem.selected {
  background-color: rgba(25,25,25,0.55);
  cursor: default;
}
.sideNavFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}
.sideNavFooter .footerItem {
  color: #fff;
  font-size: 1rem;
  text-align: left;
  padding: 0.3rem;
  padding-left: 2rem;
}
.sideNavFooter .footerItem:hover {
  background-color: rgba(25,25,25,0.55);
  cursor: pointer;
}
.topMenu {
  width: 100%;
  height: 15rem;
  background-image: url("/assets/img/nav_vertical.jpeg");
  background-size: cover;
  position: fixed;
  z-index: 100;
}
.topMenu .contentWrapperTopNavigation {
  padding: 0 20%;
  position: relative;
}
.topMenu .contentWrapperTopNavigation .lpkLogo {
  width: 10rem;
  float: right;
  margin-top: 1.5rem;
  position: absolute;
  right: 20%;
}
.topMenu .contentWrapperTopNavigation .navigationTop {
  background-color: rgba(25,25,25,0.55);
  display: inline-block;
  margin-top: 8.5rem;
  float: left;
  display: inline-flex;
}
.topMenu .contentWrapperTopNavigation .navigationTop .menuItem {
  padding: 0.8rem;
  color: #fff;
  font-size: 1.2rem;
  outline: none !important;
}
.topMenu .contentWrapperTopNavigation .navigationTop .menuItem:hover {
  background-color: #000;
  cursor: pointer;
}
.topMenu .contentWrapperTopNavigation .navFooter {
  text-align: right;
  position: absolute;
  right: 20%;
  top: 12rem;
}
.topMenu .contentWrapperTopNavigation .navFooter .footerItem {
  padding-top: 0.3rem;
  outline: none !important;
}
.topMenu .contentWrapperTopNavigation .navFooter .footerItem:hover {
  color: #c43426;
  cursor: pointer;
}
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),(min-device-width : 320px)  and (max-device-width : 568px),(min-device-width : 320px)  and (max-device-width : 480px) {
  body {
    font-size: 1rem;
  }
  .menu-button {
    width: 9rem !important;
    height: 9rem !important;
    font-size: 2rem !important;
  }
  .mobileTitle {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 4rem !important;
    background-color: #fff;
  }
  md-sidenav {
    min-width: 70%;
    max-width: 70%;
  }
  .logoWrapper {
    margin-top: 1rem;
  }
  .logoWrapper .lpkLogo {
    width: 21rem;
  }
  .menuItems {
    margin-top: 2rem;
  }
  .menuItems .menuItem {
    font-size: 4rem;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 0rem;
  }
  .sideNavFooter {
    margin-bottom: 1rem;
  }
  .sideNavFooter .footerItem {
    font-size: 3rem;
    padding: 0.6rem;
    padding-left: 5rem;
  }
}
.adminPanel {
  padding-left: 25%;
  padding-right: 25%;
  margin-top: -48px;
  padding-top: 48px;
}
.left {
  float: left;
}
.saveButton {
  float: right;
}
.dividingMargin {
  margin-bottom: 2.5rem;
}
md-input-container label {
  text-align: left;
}
md-checkbox {
  text-align: left !important;
  margin-bottom: 1rem !important;
}
md-pagination-wrapper {
  background-color: #c43426;
/*background-color rgb(63,81,181)*/
}
md-tabs-canvas {
  background-color: #c43426;
/*background-color rgb(63,81,181)*/
}
md-ink-bar {
  background-color: #000 !important;
}
md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #000;
}
.entryWrapper {
  overflow-y: scroll;
/*overflow scroll*/
  max-height: 15rem;
}
.adminNewsItem {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 3rem;
}
.adminNewsItem:hover {
/*background selectedBg*/
  cursor: pointer;
  font-weight: bold;
}
.adminNewsItem .date {
  padding-right: 1rem;
}
.adminNewsItem .deleteButton {
  float: right;
}
.imageDropField {
  border: 5px dashed #c43426;
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.imageDropField .imagePreview {
  display: inline-block;
  margin: 1rem;
  position: relative;
}
.imageDropField .imagePreview img {
  max-width: 6rem;
  height: auto;
}
.imageDropField .imagePreview:hover .imageDarken {
  visibility: visible;
}
.imageDropField .imagePreview:hover .icon {
  visibility: visible;
}
.imageDropField .imagePreview .imageDarken {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.35);
}
.imageDropField .imagePreview .icon {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
}
.imageDropField .imagePreview .icon i {
  position: relative;
  left: -50%;
}
.imageDropField .containsFiles {
  visibility: hidden;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
.contentContainer {
  width: 60%;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15rem;
  position: relative;
}
.contentContainer .titleWrapper {
  padding-top: 1rem;
  width: 100%;
  text-align: left;
/*background-color secondaryColor*/
  color: #c43426;
}
.contentContainer .titleWrapper .title {
  font-size: 2.5rem;
}
.contentContainer .content {
  padding-top: 2rem;
}
md-content {
  width: 100%;
}
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),(min-device-width : 320px)  and (max-device-width : 568px),(min-device-width : 320px)  and (max-device-width : 480px) {
  .mainContent {
    height: auto;
    margin-top: 10rem;
    padding-top: 0;
  }
  .contentContainer {
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 0;
  }
  .contentContainer .titleWrapper {
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 3rem;
    width: 100%;
    text-align: right;
  }
  .contentContainer .titleWrapper .title {
    font-size: 5rem;
    text-align: right;
  }
  .contentContainer .content {
    padding-left: 2rem;
    font-size: 3rem;
    padding-top: 5rem;
  }
}
.cardWrapper {
  display: block;
}
.newsCard {
  margin: 1rem 10%;
  display: inline-block;
  width: 80%;
  padding: 1rem;
  font-size: 1rem;
/*background-color rgba(244, 238, 227, 0.5)*/
}
.newsCard .cardTitleWrapper {
  padding-bottom: 1rem;
}
.newsCard .cardTitleWrapper .cardTitle {
  color: #c43426;
  font-weight: 500;
  font-size: 1.3rem;
}
.newsCard .cardTitleWrapper .cardDate {
  float: right;
}
.newsCard .subtitleWrapper {
  padding-bottom: 1.2rem;
}
.newsCard .subtitleWrapper .cardSubtitle {
  color: #000;
  font-weight: 500;
}
.newsCard .cardImages {
  padding-top: 0.5rem;
  display: flex;
  padding-bottom: 0.5rem;
}
.newsCard .cardImages .newsImage {
  height: 6rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.newsCard .cardImages:hover {
  cursor: pointer;
}
.moreWidth {
  width: 120%;
}
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),(min-device-width : 320px)  and (max-device-width : 568px),(min-device-width : 320px)  and (max-device-width : 480px) {
  .newsCard {
    margin: 1rem 7%;
    width: 100%;
    font-size: 2.7rem;
  }
  .newsCard .cardTitleWrapper {
    padding-bottom: 1rem;
  }
  .newsCard .cardTitleWrapper .cardTitle {
    font-size: 3.5rem;
  }
  .newsCard .subtitleWrapper {
    padding-bottom: 3rem;
  }
  .newsCard .cardImages {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .newsCard .cardImages .newsImage {
    height: 18rem;
  }
}
.ziele {
  display: block;
}
.ziele .zielWrapper {
  text-align: center;
  padding: 0.7rem;
  display: inline-block;
  margin: 1.5rem;
}
.ziele .zielWrapper .zielHead {
  margin-top: 0;
  border-radius: 20rem;
  background-color: #c43426;
  color: #fff;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  font-weight: 700;
}
.ziele .zielWrapper .zielHead.shorter {
  line-height: 1.7rem;
}
.ziele .zielWrapper .zielBody {
  padding: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.centerButton {
  text-align: center;
}
.Divider {
  width: 80%;
  margin: 1rem 10%;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #000;
}
.boardMembers .memberWrapper {
  margin-top: 2rem;
}
.boardMembers .memberWrapper .memberImageWrapper {
  position: relative;
}
.boardMembers .memberWrapper .memberImageWrapper .imageCutter {
  position: absolute;
  margin-top: -3.25rem;
  top: 50%;
  right: 0;
  border-radius: 20rem;
  height: 6.5rem;
  width: 6.5rem;
  overflow: hidden;
}
.boardMembers .memberWrapper .memberImageWrapper .imageCutter img {
  width: 7rem;
}
.boardMembers .information {
  padding: 1rem;
  display: block;
  line-height: 1.5rem;
}
.boardMembers .information .memberName {
  font-weight: 500;
}
.boardMembers .information .mail {
  padding-top: 0.5rem;
}
.boardMembers .information .mail a {
  text-decoration: none;
  color: #000;
}
@media (min-width : 1500px) {
  .ziele {
    display: flex;
  }
  .ziele .zielWrapper .zielHead {
    margin-top: 1.5rem;
  }
}
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),(min-device-width : 320px)  and (max-device-width : 568px),(min-device-width : 320px)  and (max-device-width : 480px) {
  .standardButton {
    font-size: 3rem;
    padding: 1rem;
  }
  .ziele .zielWrapper {
    padding: 0.7rem;
    margin: 1.5rem;
  }
  .ziele .zielWrapper .zielHead {
    margin-top: 0;
    width: 9.5rem;
    height: 9.5rem;
    padding: 1rem;
    font-size: 2.5rem;
  }
  .ziele .zielWrapper .zielHead.shorter {
    line-height: 4.5rem;
  }
  .ziele .zielWrapper .zielBody {
    padding: 1.5rem;
    line-height: 4rem;
    font-size: 2.5rem;
  }
  .Divider {
    font-size: 5rem;
  }
  .boardMembers {
    font-size: 2.5rem;
  }
  .boardMembers .memberWrapper {
    margin-top: 5rem;
  }
  .boardMembers .memberWrapper .memberImageWrapper {
    position: relative;
  }
  .boardMembers .memberWrapper .memberImageWrapper .imageCutter {
    margin-top: -5.5rem;
    top: 50%;
    right: 0;
    height: 11rem;
    width: 11rem;
  }
  .boardMembers .memberWrapper .memberImageWrapper .imageCutter img {
    width: 11rem;
  }
  .boardMembers .information {
    padding: 1rem;
    line-height: 4rem;
  }
  .boardMembers .information .memberName {
    font-weight: 500;
  }
  .boardMembers .information .mail {
    padding-top: 0.5rem;
  }
}
.paragraphWrapper {
  text-align: left;
}
.paragraphWrapper .paragraphHeader {
  padding: 0 1rem;
  color: #c43426;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.paragraphWrapper .paragraphContent {
  padding: 0 1rem;
  line-height: 1.5rem;
}
.generalActivities {
  margin-bottom: 2rem;
}
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),(min-device-width : 320px)  and (max-device-width : 568px),(min-device-width : 320px)  and (max-device-width : 480px) {
  .paragraphWrapper {
    text-align: center;
    margin: 2rem 8%;
  }
  .paragraphWrapper .paragraphHeader {
    padding: 1rem 1rem !important;
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .paragraphWrapper .paragraphContent {
    padding: 0 1rem;
    line-height: 4rem;
    font-size: 3rem;
  }
  .paragraphWrapper .extraMargin {
    margin-top: 12rem;
  }
}
.terminEntry {
  display: flex;
  margin-top: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
}
.terminEntry .terminTimePlace {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
}
.terminEntry .terminTimePlace .terminDate {
  font-weight: 500;
}
.terminEntry .terminTimePlace .terminPlace {
  color: #000;
}
.terminEntry .terminDivider {
  position: relative;
  background-color: #c43426;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20rem;
  margin: 1.5rem auto;
}
.terminEntry .terminContent .terminTitle {
  font-size: 1.4rem;
  color: #c43426;
}
.terminEntry .terminContent .terminDescription {
  margin-top: 0.3rem;
}
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),(min-device-width : 320px)  and (max-device-width : 568px),(min-device-width : 320px)  and (max-device-width : 480px) {
  .terminEntry {
    margin-top: 4rem;
    font-size: 3rem;
  }
  .terminEntry .terminTimePlace {
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
  }
  .terminEntry .terminTimePlace .terminDate {
    font-weight: 500;
  }
  .terminEntry .terminTimePlace .terminPlace {
    color: #000;
  }
  .terminEntry .terminDivider {
    display: none;
  }
  .terminEntry .terminContent {
    font-size: 3rem;
    display: inline-block;
    padding-right: 2.5rem;
  }
  .terminEntry .terminContent .terminTitle {
    font-size: 3.5rem;
    color: #c43426;
  }
  .terminEntry .terminContent .terminDescription {
    margin-top: 0.3rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #c43426;
  }
}
.linkStyle {
  text-decoration: none;
  color: #000;
}
.standardButton {
  background-color: #c43426 !important;
}
.primaryBg {
  background-color: #c43426 !important;
}
.md-dialog-container {
  z-index: 200;
}
html {
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  font: medium;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: font_color;
  background: bgColor;
}
.full-height {
  height: 100%;
}
.main-section {
  padding-top: 3rem;
  margin-top: -3rem;
}
.activeMaster {
  background: #e5e5e5;
}
.topPadding {
  padding-top: 1rem;
}
.highlight {
  background-color: #ff0;
}
.warningIcon {
  color: #d50909;
}
.landingPage {
  background-image: url("../img/landingPage.jpg");
  background-size: 150% auto;
  background-repeat: no-repeat;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .landingPage {
    background-image: url("../img/landingPage_mobile.jpg");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.contentWrapper {
  text-align: center;
  position: absolute;
  background: rgba(216,216,216,0.6);
  color: #fff;
  height: 80%;
  width: 80%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.registerButton {
  position: absolute;
  bottom: 0;
  margin: 0 auto 3rem auto;
  left: 0;
  right: 0;
  opacity: 1;
  width: 8rem;
  border: 1px solid #fff;
  background: rgba(92,92,92,0.8);
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  display: inline-block;
}
.registerButton:hover {
  background: #1a77c1;
  cursor: pointer;
}
.contentText {
  color: #000;
  text-align: left;
  padding: 6rem;
  height: 100%;
}
.thanks {
  font-size: 2rem;
}
