md-sidenav
  height 100%
  background-image url("/assets/img/sidenavBg.png")
  background-size cover
  position fixed

md-sidenav
  .overlay
    width: 100%
    height: 100%
    position: absolute
    background-color: black
    z-index: -1
    opacity: 0.3


.menu-button
    background-color secondaryColor !important
    position fixed
    top 10
    left 10

.mobileTitle
  position relative

md-content
  overflow inherit

.logoWrapper
  margin-top  1rem

  .lpkLogo
    width 10rem

.menuItems
  margin-top 2rem

  .menuItem
    font-size 1.5rem
    color white
    padding 1rem
    padding-left 2rem
    text-align left
    transition: background-color 200ms linear

    &:hover
      background-color selectedBg
      cursor pointer

    &.selected
      background-color selectedBg
      cursor default

.sideNavFooter
  position: absolute
  bottom 0
  width 100%
  margin-bottom 0.5rem

  .footerItem
    color white
    font-size 1rem
    text-align left
    padding 0.3rem
    padding-left 2rem

    &:hover
      background-color selectedBg
      cursor pointer

.topMenu
  width 100%
  height 15rem
  background-image url("/assets/img/nav_vertical_1.jpeg")
  background-size cover
  position fixed
  z-index 100

  .contentWrapperTopNavigation
    padding 0 20%
    position relative

    .lpkLogo
      width 10rem
      float right
      margin-top 1.5rem
      position absolute
      right 20%

    .navigationTop
      background-color selectedBg
      display inline-block
      margin-top 8.5rem
      float left
      display inline-flex

      .menuItem
        padding 0.8rem
        color white
        font-size 1.2rem
        outline none !important

        &:hover
          background-color black
          cursor pointer

    .navFooter
      text-align right
      position absolute
      right 20%
      top 12rem

      .footerItem
        padding-top 0.3rem
        outline none !important

        &:hover
          color secondaryColor
          cursor pointer


/*Iphone*/
@media only screen  and (min-device-width: 375px)  and (max-device-width : 667px),
                        (min-device-width : 320px)  and (max-device-width : 568px),
                        (min-device-width : 320px)  and (max-device-width : 480px)

  body
    font-size 1rem

  .menu-button
    width 9rem !important
    height 9rem !important
    font-size 2rem !important

  .mobileTitle
    font-size 3rem
    font-weight 700
    margin-top 4rem !important
    background-color white


  md-sidenav
    min-width 70%
    max-width 70%

  .logoWrapper
    margin-top  1rem

    .lpkLogo
      width 21rem

  .menuItems
    margin-top 2rem

    .menuItem
      font-size 4rem
      padding 2rem
      padding-left 5rem
      padding-right 0rem

  .sideNavFooter
    margin-bottom 1rem
    .footerItem
      font-size 3rem
      padding 0.6rem
      padding-left 5rem
