<div class="contentContainer">
    <div class="ziele" layout="column" layout-gt-lg="row">

        <div class="zielWrapper" ng-repeat="ziel in ziele" flex>
            <div class="zielHead" ng-class="{'shorter': ziel.shorter}">
                {{ziel.head}}
            </div>
            <div class="zielBody">
                {{ziel.body}}
            </div>
        </div>

    </div>

    <div class="Divider">Vorstand</div>

    <div class="boardMembers" layout="row" layout-wrap>

        <div class="memberWrapper" ng-repeat="member in boardMembers" flex-gt-lg="50" flex="100" layout="row">
            <div class="memberImageWrapper" flex="40">
                <div class="imageCutter">
                    <img ng-src="{{member.image}}" ng-if="member.image != ''">
                    <img src="/assets/img/Boardmembers/portrait_placeholder.png" ng-if="member.image == ''">
                </div>
            </div>
            <div class="information" flex="60">
                <div class="memberName">
                    <span class="vorsitzender" ng-if="member.isLeader">Vorsitzender </span>{{member.name}}
                </div>
                <div class="publisher">{{member.publisher}}</div>
                <div class="mail">{{member.mail}}</div>
            </div>
        </div>

    </div>
</div>