<div class="contentContainer">
    <!--<div class="titleWrapper">-->
        <!--<span class="title">Impressum</span>-->
    <!--</div>-->

    <div class="content">
        Landespressekonferenz Brandenburg e.V. <br>
        Alter Markt 1 <br>
        14467 Potsdam <br>
        V.i.S.d. §6 MDStV: Inhaltlich verantwortlich: Benjamin Lassiwe <br>
        Telefon 0331-9662250 <br>
        <br>
        Vereinsregister AG Potsdam VR 440 <br><br>

        Haftungshinweis: <br>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich!
    </div>
</div>
